.h1{
    font-weight: bold;
    text-align: center;
    color: white;
}
.pre{
    font-style: 'Gill Sans' sans-serif;
    color: greenyellow;
    text-align: center;
}
.body{
    background-color: darkslateblue;
}
